.venv/
.ipynb_checkpoints/
__pycache__/
CS2105 Optimization Techniques - Week 1 Study Guide - Google Docs.pdf
CS2105 Optimization Techniques - Week 2 Study Guide - Google Docs.pdf
OT lectures.lnk
Optimization_Algorithms.ipynb
Standard Simplex Method — Handwritten Notes Walkthrough - Google Docs.pdf
*.pdf
*.lnk
